<div class="container">

    <div class="row">

        <div class="col-6">

            {{#with restaurant}}
            <h2>{{name}}</h2>

            <hr>

            <p class="features"><strong>Tipo:</strong> {{type}}</p>
            <p class="features"><strong>Lugar de emplazamiento:</strong> {{place}}</p>
            <p class="features"><strong>Descripci贸n:</strong> {{description}}</p>
            <p class="rating">Puntuaci贸n: {{rating}}</p>


            <ul>
                <li>Calidad/precio {{ratingDetails.qualityPrice}}</li>
                <li>Servicio/atenci贸n al cliente {{ratingDetails.service}}</li>
                <li>Ambiente {{ratingDetails.ambience}}</li>
            </ul>

            <p class="features">Opini贸n {{opinion}}</p>

            <a class="editButton" href="/restaurants/details/{{_id}}/edit">Editar restaurante</a>
            {{/with}}
        </div>

    </div>
</div>

<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>Comentarios</h1>
            <hr>
            <form action="/comment/{{restaurant._id}}/create" method="POST">

                <div class="mb-3">
                    <label for="comment" class="form-label">Crear comentario</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>


                <button type="submit" class="btn btn-dark">Crear nuevo comentario</button>
            </form>

            <div class="mb-3">

                {{#each comments}}
                <p>{{comment}}</p>
                <p>{{author.username}}</p>

                <form action="/coments/{{_id}}/delete" method="POST">
                    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                </form>

                {{/each}}
            </div>
        </div>
    </div>
</div>