<div class="container single-restaurant">

    <div class="row">

        <div class="col-6">

            {{#with restaurant}}
            <h2>{{name}}</h2>

            <hr>

            <figure><img src="{{image}}" alt="imagen"></figure>

            <p class="features"><strong>Tipo:</strong> {{type}}</p>
            <p class="features"><strong>Lugar de emplazamiento:</strong> {{place}}</p>
            <p class="features"><strong>Descripci贸n:</strong> {{description}}</p>
            <p class="rating">Puntuaci贸n: {{rating}}</p>


            <ul>
                <li>Calidad/precio {{ratingDetails.qualityPrice}}</li>
                <li>Servicio/atenci贸n al cliente {{ratingDetails.service}}</li>
                <li>Ambiente {{ratingDetails.ambience}}</li>
            </ul>

            <p class="features">Opini贸n {{opinion}}</p>



            <a class="editButton" href="/restaurants/details/{{_id}}/edit">Editar restaurante</a>
            {{/with}}
        </div>

    </div>
</div>

<hr>

<div class="container">
    <div class="row justify-content">
        <div class="col-md-4">
            <h3>Comentarios</h3>
            <hr>
            <form action="/comment/{{restaurant._id}}/create" method="POST">

                <div class="mb-3">
                    <label for="comment" class="form-label">Crear comentario</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>

                <button type="submit" class="btn btn-dark">Crear nuevo comentario</button>
            </form>

            <div class="mb-3">

                {{#each comments}}
                {{#with comment}}
                <div>
                    <h5>{{author.username}}</h5>
                </div>
                <div>
                    <p>{{comment}}</p>
                </div>
                <hr>
                {{#if ../isOwned}}
                <form action="/comment/{{../../restaurant._id}}/delete/{{_id}}" method="POST">
                    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                </form>
                {{/if}}

                {{#if ../../isAdmin}}
                <form action="/comment/{{../../restaurant._id}}/delete/{{_id}}" method="POST">
                    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                </form>
                {{/if}}

                {{/with}}
                {{/each}}

            </div>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col-md-8">

            <figure id="detailsMap"></figure>

        </div>
    </div>
</div>

{{!-- 
<p id="lata" hidden>{{restaurant.location.coordinates.[0]}}</p>
<p id="lnga" hidden>{{restaurant.location.coordinates.[1]}}</p> --}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/details-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNlwJnczOEYC8VHb6tkjgFk_AFP9TGNW8&callback=initMap"></script>