<div class="container">

    <div class="row">

        <div class="col-6">
            <form method="POST" action="/restaurants/filter" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Filtrar por provincia"
                    aria-label="Search" id="province" name="province">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Búsqueda por provincia</button>
            </form>
        </div>

        <div class="col-3">
            <a href="/restaurants/create/" class="btn btn-outline-success my-2 my-sm-0">Crear restaurante</a>
        </div>

        {{#each restaurants}}

        <div class="col-6">

            <br>
            <div class="row">

                <h1>{{name}}</h1>

                <div class="col-6">

                    <figure><img src="{{restaurant.image}}" alt="imagen"></figure>

                    <p class="features">Descripción {{description}}</p>
                    <p class="features">Puntuación {{rating}}</p>
                    <p class="features" id="location">Dirección: {{area}}</p>


                    <a class="editButton" href="/restaurants/details/{{_id}}">Ver más</a>



                    <hr>
                    <form action="/restaurants/{{_id}}/delete" method="POST">
                        <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                    </form>
                </div>

                {{!-- <div class="col-6">
                    <img class="imag" src="/images/{{image}}.jpg" alt="Dron Image">
                </div> --}}

            </div>




        </div>
        {{/each}}
    </div>

</div>



<a href="/">Volver al incio</a>
