<div class="container">

    <div class="row">

        <div class="col-6">


            <h2>Editar restaurante</h2>

            <form action="/restaurants/details/{{id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="restaurantname" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="restaurantname" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Subir una imagen</label>
                    <input class="form-control" type="file" id="image" name="updatedRestaurantImage">
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select name="type" class="form-select" selected="{{type}}">
                        <option value="{{type}}" selected>{{type}}</option>
                        <option value="casera">Casera</option>
                        <option value="asador">Asador</option>
                        <option value="hotel/hostal">Hotel/Hostal</option>
                        <option value="cafeteria/bar">Cafeteria/bar</option>
                        <option value="gourmet">Gourmet</option>
                        <option value="varios">Varios</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label">Lugar de emplazamiento</label>
                    <select name="place" class="form-select" selected="{{place}}">
                        <option value="{{place}}" selected>{{place}}</option>
                        <option value="en carretera">En carretera</option>
                        <option value="desvio cercano">Desvio cercano</option>
                        <option value="en pueblo">En pueblo</option>
                        <option value="desvio lejano">Desvio lejano</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="description" value="{{description}}">
                </div>

                <div class="mb-3">
                    <label for="rating" class="form-label">Puntuación</label value="{{rating}}">
                    <select name="rating" class="form-select" selected="{{rating}}">
                        <option value="{{rating}}" selected>{{rating}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quality" class="form-label">Calidad</label>
                    <select name="quality" class="form-select" selected="{{ratingDeatils.qualityPrice}}">
                        <option value="{{ratingDetails.qualityPrice}}" selected>{{ratingDetails.qualityPrice}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="service" class="form-label">Servicio</label>
                    <select name="service" class="form-select" selected="{{ratingDeatils.service}}">
                        <option value="{{ratingDetails.service}}" selected>{{ratingDetails.service}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ambience" class="form-label">Ambiente</label>
                    <select name="ambience" class="form-select" selected="{{ratingDeatils.ambience}}">
                        <option value="{{ratingDetails.ambience}}" selected>{{ratingDetails.ambience}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="opinion" class="form-label">Opinión</label>
                    <input type="text" class="form-control" name="opinion" value="{{opinion}}">
                </div>

                <button type="submit" class="btn btn-primary">Editar Restaurante</button>
            </form>

        </div>

    </div>

</div>