<div class="container">

    <h1>Perfil</h1>

    <hr>

    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    <p>Mi nombre es {{user.username}} </p>
                </li>
                <li>
                    '{{user.bio}}'
                </li>
                <p>Tags</p>
                <ul>
                    <li>
                        {{user.traveler}}
                    </li>
                    <li>
                        {{user.foodie}}
                    </li>
                </ul>


            </ul>
        </div>
        <div class="col-6">
            <figure><img src="{{user.image}}" alt="Foto de perfil"></figure>
        </div>


    </div>

    <a href="/users/details/{{user.id}}/edit">Editar perfil</a>

    <form action="/logout" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">Cerrar sesi贸n</button>
    </form>

    <div>
        {{#each restaurants}}
        <p>{{name}}</p>
        <figure><img src="{{image}}" alt="imagen"></figure>

        <p class="features">Descripci贸n {{description}}</p>
        <p class="features">Puntuaci贸n {{rating}}</p>
        <p class="features" id="location">Direcci贸n: {{area}}</p>
        {{/each}}
    </div>


</div>
