<h1>profile</h1>

<hr>

<div class="container">
    <div class="row">
        <ul>
            <li>
                {{user.username}}
            </li>
            <li>
                '{{user.bio}}'
            </li>
            <li>
                {{user.email}}
            </li>
            <li>
                <img src="{{user.image}}" alt="imagen">

            </li>
        </ul>

    </div>
</div>
<hr>

<a href="/users/details/{{user.id}}/edit">Editar</a>


<div>
