<div class="container">

    <h1>Perfil</h1>

    <hr>

    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    {{user.username}}
                </li>
                <li>
                    '{{user.bio}}'
                </li>
                <li>
                    {{user.email}}
                </li>
            </ul>
        </div>
        <div class="col-6">
            <figure><img src="{{user.image}}" alt="Foto de perfil"></figure>
        </div>


    </div>

    <a href="/users/details/{{user.id}}/edit">Editar perfil</a>

    <form action="/logout" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">Cerrar sesión</button>
    </form>


</div>