<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>Editar el usuario</h2>

            <hr>

            <form action="/users/details/{{_id}}/edit" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{email}}">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="plainPassword"
                        value="{{plainPassword}}">

                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Sobre ti</label>
                    <input type="text" class="form-control" id="bio" value="{{bio}}">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Subir una imagen</label>
                    <input class="form-control" type="file" id="image" name="updatedProfileImage">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select name="traveler" class="form-select">
                        <option value="Profesional">Pro de la Carretera</option>
                        <option value="Viajero asiduo">Viajero Asiduo</option>
                        <option value="Escapadas">Escapadas de fin de semana</option>
                        <option value="Por placer">Viajero por placer</option>
                        <option value="Enfermo de la carretera">Enfermo de la carretera</option>
                        <option value="Dominguero">Dominguero</option>
                        <option value="Sedentario">No viajo ni me interesa</option>

                    </select>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select name="foodie" class="form-select">
                        <option value="Bon vivant">Bon Vivant</option>
                        <option value="Gourmet">Gourmet</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Meat lover">Meat lover</option>
                        <option value="Foodie">Foodie</option>
                        <option value="Realfooder">Realfooder</option>

                    </select>
                </div>


                <button type="submit" class="btn btn-dark">Editar Usuario/a</button>
                <a href="/" class="btn btn-dark">Volver al incio</a>

            </form>
            <hr>
            <form action="/users/details/{{_id}}/delete" method="POST">
                <button class="btn btn-sm btn-warning" type="submit">Delete</button>
            </form>


        </div>
    </div>


</div>
